
            <div class="modal-dialog align-items-center h-100 m-auto" role="document">
              <div class="modal-contents">
                <div class="modal-body">
                   <h5 class="text-danger">If this is an emergengy please call <b class="text-danger">911.</b></h5>							
                </div>
                 <div class="modal-footer border-0 pt-0">		
                  <button type="button" (click)="onClose()" class="btn btn-primary">Ok</button>		
                </div>
              </div>
            </div>