<div class="modal-contents modal" *ngIf="status === 'addDoctor'">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Doctor Details</h4>
      <button type="button" (click)="onCloseSignup()" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <!-- error handler -->
      <div class="alert alert-danger" role="alert" *ngIf="error">
        <h5 class="alert-heading text-center">Alert!</h5>
        <p class="mb-0 text-center">{{error}}</p>
      </div>
      <!-- handler end -->
      <form class="bootstrap-form needs-validation" (ngSubmit)="onSubmitAdd(addDoctorForm.value)"
        [formGroup]="addDoctorForm">
        <div class="form-group">
          <div class="profileupload">
            <div class="imagebox mt-0 ">
              <label class="hoverable" for="fileInput">
                <img [defaultImage]="'assets/img/user-icon.png'" [lazyLoad]="imageUrl" [errorImage]="'assets/img/user-icon.png'">
                <div class="hover-text">
                  <input id="fileInput" accept="image/*" (change)="onSelectFile($event)" type='file'>
                  <p style="margin-top: 20px; font-family: Lato;">Choose file</p>
                </div>
                <div class="background"></div>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="signonname" class="text-uppercase text-primary">Name<span class="required-field"></span></label>
          <input type="text" readonly formControlName="doctorFullName" id="signonname" class="form-control" name="signonname"
            value="" required />
        </div>
        <div class="form-group">
          <label for="email" class="text-uppercase text-primary">Email Address<span class="required-field"></span></label>
          <input type="email" formControlName="doctorEmail" placeholder="Enter Email" id="email" class="form-control"
            name="email" />
          <small class="text-danger small"
            *ngIf="addDoctorForm.controls['doctorEmail'].hasError('pattern') && (addDoctorForm.controls['doctorEmail'].dirty || addDoctorForm.controls['doctorEmail'].touched )">Please
            enter valid Email ID</small>
          <small class="text-danger small"
            *ngIf="addDoctorForm.controls['doctorEmail'].hasError('required') && (addDoctorForm.controls['doctorEmail'].dirty || addDoctorForm.controls['doctorEmail'].touched)">Please
            enter Email ID</small>
          <small class="text-danger" *ngIf="addDoctorForm.controls['doctorEmail'].hasError('emailAlreadyExist')">Email
            already
            exist.</small>
        </div>
        <div class="form-group">
          <!-- <select name="userCountryCode" formControlName="userCountryCode" (change)="onChangeCode($event.target.value)"
          class="code select-css cursr" required>
          <option class="option" *ngFor="let option of countryCodeOptions" [value]="option.code">
            {{option.code}}</option>
        </select> -->
          <label for="mobile" class="text-uppercase text-primary">Phone Number<span
              class="required-field"></span></label>
          <input type="text" maxlength="10" id="mobile" placeholder="Enter Phone number" formControlName="doctorMobile" class="form-control" name="mobile" required />
          <small class="text-danger small"
            *ngIf=" addDoctorForm.controls['doctorMobile'].hasError('required') && (addDoctorForm.controls['doctorMobile'].dirty || addDoctorForm.controls['doctorMobile'].touched)">Please
            enter phone number.</small>
          <small class="text-danger small"
            *ngIf="addDoctorForm.controls['doctorMobile'].hasError('pattern') && (addDoctorForm.controls['doctorMobile'].dirty || addDoctorForm.controls['doctorMobile'].touched)">Phone
            number must be only 10 digit.</small>
          <small class="text-danger" *ngIf="addDoctorForm.controls['doctorMobile'].hasError('mobileExist')">Phone number already exist.</small>
        </div>
        <div class="form-group">
          <label for="Fax" class="text-uppercase text-primary">Fax Number<span class="required-field"></span></label>
          <input type="text" maxlength="10" formControlName="doctorFax" id="Fax" class="form-control" name="Fax"
            placeholder="Enter Fax number" value="" required />
          <small class="text-danger small"
            *ngIf=" addDoctorForm.controls['doctorFax'].hasError('required') && (addDoctorForm.controls['doctorFax'].dirty || addDoctorForm.controls['doctorFax'].touched)">Please
            enter fax.</small>
          <small class="text-danger small"
            *ngIf="addDoctorForm.controls['doctorFax'].hasError('pattern') && (addDoctorForm.controls['doctorFax'].dirty || addDoctorForm.controls['doctorFax'].touched)">Fax
            Number must be only 10 digit.</small>
        </div>
        <div class="form-group">
          <label for="Gender" class="text-uppercase text-primary">Gender<span class="required-field"></span></label>
          <input type="text" readonly formControlName="doctorGender" id="Gender" class="form-control" placeholder="Enter Gender"
            name="Gender" />
        </div>
        <div class="form-group">
          <label for="specialityIDs" class="text-uppercase text-primary">Speciality<span
              class="required-field"></span></label>
          <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline" placeholder="Enter Speciality"
            formControlName="specialityIDs" class="custom" labelForId="specialityList" name="specialityName">
            <ng-option *ngFor="let spec of (specialityList$ | async)" [value]="spec.specialityID">
              {{spec.specialityName}}</ng-option>
          </ng-select>
          <small class="text-danger small"
            *ngIf="addDoctorForm.controls['specialityIDs'].hasError('required') && (addDoctorForm.controls['specialityIDs'].dirty || addDoctorForm.controls['specialityIDs'].touched)">Please
            Select speciality.</small>
        </div>
        <div class="form-group">
          <label for="degreeID" class="text-uppercase text-primary">Qualification<span
              class="required-field"></span></label>
          <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline" placeholder="Enter Qualification"
            formControlName="degreeID" class="custom" labelForId="degreeList" name="degreeName">
            <ng-option *ngFor="let degree of (degreeList$ | async)" [value]="degree.degreeID">
              {{degree.degreeName}}</ng-option>
          </ng-select>
          <small class="text-danger small"
            *ngIf="addDoctorForm.controls['degreeID'].hasError('required') && (addDoctorForm.controls['degreeID'].dirty || addDoctorForm.controls['degreeID'].touched)">Please
            Select Qualification.</small>
        </div>
        <div class="form-group">
          <label for="Address" class="text-uppercase text-primary">Address<span class="required-field"></span></label>
          <textarea type="text" formControlName="doctorAddress" id="Address" class="form-control"
            placeholder="Enter Address" name="Address" required></textarea>
          <small class="text-danger small"
            *ngIf=" addDoctorForm.controls['doctorAddress'].hasError('required') && (addDoctorForm.controls['doctorAddress'].dirty || addDoctorForm.controls['doctorAddress'].touched)">Please
            enter Address.</small>
        </div>
        <div class="p-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Continue</button>
        </div>
      </form>
    </div>
  
  </div>

<div class="modal-contents modal" *ngIf="status === 'editDoctor'">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Doctor Details</h4>
      <button type="button" (click)="onCloseSignup()" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <!-- error handler -->
      <div class="alert alert-danger" role="alert" *ngIf="error">
        <h5 class="alert-heading text-center">Alert!</h5>
        <p class="mb-0 text-center">{{error}}</p>
      </div>
      <!-- handler end -->
      <form class="bootstrap-form needs-validation" (ngSubmit)="onSubmitUpdate(editDoctorForm.value)"
        [formGroup]="editDoctorForm">
        <div class="form-group">
          <div class="profileupload">
            <div class="imagebox mt-0 ">
              <label class="hoverable" for="fileInput">
                <img [defaultImage]="'assets/img/user-icon.png'" [lazyLoad]="imageUrl" [errorImage]="'assets/img/user-icon.png'">
                <div class="hover-text">
                  <!-- <input id="fileInput" accept="image/*" type='file'> -->
                  <!-- <p style="margin-top: 20px; font-family: Lato;">Choose file</p> -->
                </div>
                <div class="background"></div>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="signonname" class="text-uppercase text-primary">Name<span class="required-field"></span></label>
          <input type="text" readonly formControlName="doctorFullName" id="signonname" class="form-control" name="signonname"
            value="" required />
        </div>
        <div class="form-group">
          <label for="email" class="text-uppercase text-primary">Email Address<span class="required-field"></span></label>
          <input type="email" readonly formControlName="doctorEmail" placeholder="Enter Email" id="email" class="form-control"
            name="email" />
        </div>
        <div class="form-group">
          <!-- <select name="userCountryCode" formControlName="userCountryCode" (change)="onChangeCode($event.target.value)"
          class="code select-css" required>
          <option class="option" *ngFor="let option of countryCodeOptions" [value]="option.code">
            {{option.code}}</option>
        </select> -->
          <label for="mobile" class="text-uppercase text-primary">Phone Number<span
              class="required-field"></span></label>
          <input type="text" id="mobile" readonly formControlName="doctorMobile" class="form-control" name="mobile" required />
        </div>
        <div class="form-group">
          <label for="Fax" class="text-uppercase text-primary">Fax Number<span class="required-field"></span></label>
          <input type="text" maxlength="10" readonly formControlName="doctorFax" id="Fax" class="form-control" name="Fax"
            placeholder="Enter Fax number" value="" required />
        </div>
        <div class="form-group">
          <label for="Gender" class="text-uppercase text-primary">Gender<span class="required-field"></span></label>
          <input type="text" readonly formControlName="doctorGender" id="Gender" class="form-control" placeholder="Enter Gender"
            name="Gender" />
        </div>
        <div class="form-group">
          <label for="Gender" class="text-uppercase text-primary">Speciality<span class="required-field"></span></label>
          <input type="text" formControlName="specialityIDs" readonly id="doctorSpecility" class="form-control"
            placeholder="Enter Speciality" name="doctorSpecility" />
        </div>
        <div class="form-group">
          <label for="Gender" class="text-uppercase text-primary">Qualification<span class="required-field"></span></label>
          <input type="text" formControlName="degreeID" readonly id="doctorDegree" class="form-control"
            placeholder="Enter Qualification" name="doctorDegree" />
        </div>
        <div class="form-group">
          <label for="Address" class="text-uppercase text-primary">Address<span class="required-field"></span></label>
          <textarea type="text" readonly formControlName="doctorAddress" id="Address" class="form-control"
            placeholder="Enter Address" name="Address" required></textarea>
        </div>
        <div class="p-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Continue</button>
        </div>
      </form>
    </div>
  
  </div>