<div class="modal-contents">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{rejectDefault ? 'Reject-Referral' : 'Alert'}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p [hidden]="rejectDefault">Do you want to reject the referral?</p>
    <form class="" [formGroup]="rejectForm" [hidden]="!rejectDefault">
      <div class="row">
        <div class="col-sm-12">
          <label for="Discription">Remarks</label>
          <div class="form-group">
            <textarea class="form-control" formControlName="rejectRemark" name="Discription" id="Discription"
              type="text" placeholder="Write here...(Optional)" rows="3"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" (click)="onReRefer(); onCloseReject(911)"
      [hidden]="rejectDefault">Re-refer</button> -->
    <button type="button" class="btn btn-primary" (click)="rejectDefault = true"
      [hidden]="rejectDefault">Reject</button>
    <button type="button" class="btn btn-primary" (click)="onReject(rejectForm.value)"
      [hidden]="!rejectDefault">Submit</button>
  </div>
</div>