<body class="dashbord-section">
  <div class="spacetop"></div>
  <section class="section-dashbord overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 appointment-conten order-2 order-lg-1 pt-3">
          <div class="title-dashbord d-flex">
            <h4 class="text-dark"></h4>
            <div class="ml-auto mb-3"><a (click)="openNPIaddDoctor()" style="cursor: pointer;"
                class="btn btn-outline-primary">+ Add Doctor</a></div>
          </div>
          <div class="appointmen-content appointmen-referral appoinment-show"
            *ngIf="doctorList$ | async as doctorsList">
            <div class="details-list" *ngFor="let doctor of doctorsList | slice:0:show">
              <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
                [scrollWindow]="true" (scrolled)="onScrollEnd()">
                <app-shared-list-doctors [doctorFullName]="doctor.doctorFullName" [doctorGender]="doctor.doctorGender"
                  [doctorProfileImage]="doctor.doctorProfileImage"
                  [facilityID]="facilityID"
                  [specialityName]="doctor.speciality.length > 0 ? doctor.speciality[0].specialityName : []"
                  [wholeObject]="doctor" (view)="openDoctorViewModal($event)" (update)="deleteDoctor($event); spinner.show()">
                </app-shared-list-doctors>
              </div>
            </div>
            <div class="row" style="min-height: 250px;" *ngIf="doctorsList.length > 0 && doctorsList.length <= 3">
              <div class="">
                <div class="text-center">
                  <p></p>
                </div>
              </div>
            </div>
            <div *ngIf="doctorsList.length > 0 && doctorsList.length <= 2" style="height: 350px;">
              <div class="text-center">
                <p></p>
              </div>
            </div>
          </div>
          <div class="" *ngIf="(doctorList$ | async) === null">
            <div style="margin-top: 2px;">
              <ngx-skeleton-loader count="7" [theme]="{ height: '90px' }">
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="" style="margin-top: 40px; height: 530px" *ngIf="(doctorList$ | async) === undefined">
            <div class="row">
              <div class="col">
                <img class="img-center pt-3 pt-lg-5" src="assets/img/no-data.png" alt="No-Data">
                <p class="text-center" style="padding-right:32px;">No Record Found.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 uploadfile-conten order-1 order-lg-2 card" style="border-radius:0;">
          <app-share-datetimepicker [from]="'doctorsList'"></app-share-datetimepicker>
        </div>
      </div>
    </div>
  </section>
  <br>
</body>
