<div class="modal-contents">
  <div class="modal-header">
    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Create Password</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()" #closebutton>
      <span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
       <!-- error handler -->
       <div class="alert alert-danger" role="alert" *ngIf="error">
        <h5 class="alert-heading text-center">Error!</h5>
        <p class="mb-0 text-center">{{error}}</p>
      </div>
      <!-- handler end -->
    <form class="text-left profile-form" [formGroup]="resetForm" (ngSubmit)="onReset(resetForm.value)">
      <div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" name="auto" [checked]="auto" (change)="onChangeRadio()" class="custom-control-input"
            id="customRadio1">
          <label class="custom-control-label cursr" for="customRadio1">Automatic</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" name="manual" [checked]="!auto" (change)="onChangeRadio()" class="custom-control-input"
            id="customRadio2">
          <label class="custom-control-label cursr" for="customRadio2">Manual</label>
        </div>
      </div>
      <br>

      <div class="auto" *ngIf="auto">
        <div class="col-12">
          <p class="text-center">An email with login details will be shared with the doctor.</p>
        </div>
        <br>
        <div class="p-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block button-contactForm">Add Doctor</button>
        </div>
      </div>

      <div class="resetPass" *ngIf="!auto">
        <div class="form-group">
          <label for="NewPassword" class="text-uppercase text-primary">New Password<span
              class="required-field"></span></label>
          <div class="form-group inputWithIcon">
            <input type="password" [type]=" hide ? 'password' : 'text' " formControlName="newPassword"
              (keydown.space)="$event.preventDefault()" class="form-control" id="NewPassword" name="NewPassword"
              placeholder="Password" autocomplete="off">
            <a class="cursr" (click)="myFunction()"><i class="fas "
                [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}"></i></a>
            <small class="text-danger "
              *ngIf="resetForm.controls['newPassword'].hasError('required') && (resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)">Please
              enter new password</small>
            <small class="text-danger "
              *ngIf="resetForm.controls['newPassword'].hasError('pattern') && (resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)">Password
              needs to be at least eight characters, one uppercase letter and one number.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="NewPassword" class="text-uppercase text-primary">Confirm New Password<span
              class="required-field"></span></label>
          <div class="form-group inputWithIcon">
            <input type="password" [type]=" confirm ? 'password' : 'text' " formControlName="reEnterNewPassword" class="form-control" id="NewPassword2"
            name="NewPassword" placeholder="Password" autocomplete="off">
            <a class="cursr" (click)="myConfirm()"><i class="fas "
              [ngClass]="{'fa-eye': !confirm, 'fa-eye-slash': confirm}"></i></a>
          <small class="text-danger "
            *ngIf="resetForm.controls['reEnterNewPassword'].hasError('required') && (resetForm.controls['reEnterNewPassword'].dirty || resetForm.controls['reEnterNewPassword'].touched)">Please
            enter Re-enter new password</small>
          <small class="text-danger "
            *ngIf="resetForm.controls['reEnterNewPassword'].hasError('confirmedValidator')">Re-enter Password is not
            match</small>
          </div>
        </div>
        <br>
        <div class="p-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block button-contactForm">Add Doctor</button>
        </div>
      </div>

    </form>
  </div>
</div>