.form{
    display: block;
    width: 35%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }
  .modal-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    border-radius: .3rem;
    outline: 0;
}
.inputWithIcon input [id="dov"] {
  padding-right: 40px;
}

.inputWithIcon input [id="time"] {
  padding-right: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  right: 0px;
  top: 3px;
  padding: 9px 7px;
}
input[name="dov"] {
  word-spacing:-3px;
}
.btn-mrgin{
  margin-right: 15px;
}