.small {
    font-size: 0.9em;
  }
  
  .inputWithIcon input [type="password"] {
    padding-right: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    right: 0px;
    top: 3px;
    padding: 9px 12px;
  }
  
  .cursr {
    cursor: pointer;
  }
  .required-field::before {
    content: "*";
    color: red;
  }