<div class="tab-pane fade show active" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
  <div class="appointmen-content" *ngIf="cancelledAll.length>0">
    <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
      [scrollWindow]="true" (scrolled)="onScrollEndCancelled()">
      <div class="details-list" *ngFor="let appoint of cancelledAll">
        <app-share-cancelled [patientFirstName]="appoint.patientFirstName ? appoint.patientFirstName : ''"
          [patientLastName]="appoint.patientLastName ? appoint.patientLastName : ''"
          [specialityName]="appoint.specialityName ? appoint.specialityName : ''"
          [doctorFullName]="appoint.doctorFullName ? appoint.doctorFullName : ''"
          [doctorProfileImage]="appoint.doctorProfileImage ? appoint.doctorProfileImage : ''"
          [reasonName]="appoint.reasonName ? appoint.reasonName : appoint.reasonNames ? appoint.reasonNames : ''"
          [patientGender]="appoint.patientGender ? appoint.patientGender : ''" [age]="appoint.age ? appoint.age : '0'"
          [wholeObject]="appoint" [refercaseUrgent]="appoint.refercaseUrgent ? appoint.refercaseUrgent : ''"
          [refSpecialityName]="appoint.insuranceNames ? appoint.insuranceNames : ''"
          [refercaseVisitDate]="appoint.refercaseVisitDate ? appoint.refercaseVisitDate : ''"
          [refercaseVisitTime]="appoint.refercaseVisitTime !== null && appoint.refercaseVisitTime !== Undefined && appoint.refercaseVisitTime !== '' ? appoint.refercaseVisitTime : ''"
          [refercaseStatus]="appoint.refercaseStatus ? appoint.refercaseStatus : ''" (view)="showReferralClick($event)">
        </app-share-cancelled>
      </div>
    </div>
    <div class="row" style="min-height: 250px;" *ngIf="cancelledAll.length > 0 && cancelledAll.length <= 3">
      <div class="">
        <div class="text-center">
          <p></p>
        </div>
      </div>
    </div>
    <div *ngIf="cancelledAll.length > 0 && cancelledAll.length <= 2">
      <div style="height: 350px;">
        <p></p>
      </div>
    </div>
  </div>
  <div class="" style="margin-top: 5px;" *ngIf="(cancelled$ | async) === null">
    <div class="appointmen-content appoinment-show appointmen-referral">
      <div class="details-list">
        <div class="appointmen-list card mb-3">
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '12px', width: '30%' }"></ngx-skeleton-loader>
          </div>
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
          </div>
            <div class="row align-items-center">
              <div class="col-md-5 text-appont">
                <ngx-skeleton-loader count="1" [theme]="{ height: '12px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '30%' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-3 icons-dated">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-4 text-xl-right btnsgrp-appointment">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>															
              </div>
            </div>
          </div>
      </div>
      <div class="details-list">
        <div class="appointmen-list card mb-3">
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '12px', width: '30%' }"></ngx-skeleton-loader>
          </div>
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
          </div>
            <div class="row align-items-center">
              <div class="col-md-5 text-appont">
                <ngx-skeleton-loader count="1" [theme]="{ height: '12px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '30%' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-3 icons-dated">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-4 text-xl-right btnsgrp-appointment">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>															
              </div>
            </div>
          </div>
      </div>
      <div class="details-list">
        <div class="appointmen-list card mb-3">
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '12px', width: '30%' }"></ngx-skeleton-loader>
          </div>
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
          </div>
            <div class="row align-items-center">
              <div class="col-md-5 text-appont">
                <ngx-skeleton-loader count="1" [theme]="{ height: '12px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '30%' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-3 icons-dated">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-4 text-xl-right btnsgrp-appointment">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>															
              </div>
            </div>
          </div>
      </div>
      <div class="details-list">
        <div class="appointmen-list card mb-3">
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '12px', width: '30%' }"></ngx-skeleton-loader>
          </div>
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
          </div>
            <div class="row align-items-center">
              <div class="col-md-5 text-appont">
                <ngx-skeleton-loader count="1" [theme]="{ height: '12px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '30%' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-3 icons-dated">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-4 text-xl-right btnsgrp-appointment">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>															
              </div>
            </div>
          </div>
      </div>
      <div class="details-list">
        <div class="appointmen-list card mb-3">
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '12px', width: '30%' }"></ngx-skeleton-loader>
          </div>
          <div class="text-appont">
            <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
          </div>
            <div class="row align-items-center">
              <div class="col-md-5 text-appont">
                <ngx-skeleton-loader count="1" [theme]="{ height: '12px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '30%' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px', width: '47%' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-3 icons-dated">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-4 text-xl-right btnsgrp-appointment">
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" [theme]="{ height: '10px' }"></ngx-skeleton-loader>															
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="" style="margin-top: 40px; height: 500px;" *ngIf="(cancelled$ | async) === undefined">
    <div class="row">
      <div class="col">
        <img class="img-center pt-3 pt-lg-5" src="assets/img/no-data.png" alt="No-Data">
        <p class="text-center" style="padding-right:32px;">No Record Found.</p>
      </div>
    </div>
  </div>
</div>