<body class="dashbord-section">
  <div class="spacetop"></div>
  <section class="section-dashbord">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 appointment-conten order-2 order-lg-1 pt-3">
          <div class="row">
            <div class="col-sm-6">
              <ul class="nav nav-tabs custom-tabsnew border-0" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link btn-outline-primary" id="home-tab" routerLink="upcomming"
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-controls="Upcoming"
                    aria-selected="true">Upcoming</a></li>
                <li class="nav-item"><a class="nav-link btn-outline-primary" id="profile-tab" routerLink="previous"
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-controls="profile"
                    aria-selected="false">Previous</a></li>
                <li class="nav-item"><a class="nav-link btn-outline-primary" id="cancelled-tab" routerLink="cancelled"
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-controls="cancelled"
                    aria-selected="false">Rejected</a></li>
              </ul>
            </div>
            <div class="col-sm-6 pt-3 pt-sm-0">
              <div class="d-flex justify-content-end align-items-center">
                <div class="sortings">
                  <div class="form-group mb-0 mr-3" *ngIf="component === 'upcomming' && isUpcmming">
                    <ng-select (change)="onChangeUpcomming(sort)" [items]="sortingUpcomming" bindLabel="value"
                      bindValue="id" appearance="outline" [searchable]="false" [clearable]="true" [(ngModel)]="sort"
                      class="custom" placeholder="Sorting">
                    </ng-select>
                  </div>
                  <div class="form-group mb-0 mr-3" *ngIf="component === 'previous' && isPrevs">
                    <ng-select (change)="onChangePrevious(sort)" [items]="sortingPrivious" bindLabel="value"
                      bindValue="id" appearance="outline" [searchable]="false" [clearable]="true" [(ngModel)]="sort"
                      class="custom" placeholder="Sorting">
                    </ng-select>
                  </div>
                  <div class="form-group mb-0 mr-3" *ngIf="component === 'cancelled' && isCancel">
                    <ng-select (change)="onChangePrevious(sort)" [items]="sortingPrivious" bindLabel="value"
                      bindValue="id" appearance="outline" [searchable]="false" [clearable]="true" [(ngModel)]="sort"
                      class="custom" placeholder="Sorting">
                    </ng-select>
                  </div>
                </div>
                <app-shared-filter [component]="component" (filter)="onAppliedFilter($event)"
                  (resetFilter)="onResetFilter()" *ngIf="(component === 'upcomming' && isUpcmming) || (component === 'previous' && isPrevs) || (component === 'cancelled' && isCancel)"></app-shared-filter>
              </div>
            </div>
          </div>
          <div class="tab-content pt-3" id="myTabContent">
            <router-outlet></router-outlet>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 uploadfile-conten order-1 order-lg-2 card" style="border-radius:0;">
          <div class=" wow zoomIn pt-3" data-wow-delay="0.2s">
            <app-share-datetimepicker [from]="'My-schedule'"></app-share-datetimepicker>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
</body>