html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }
  .container{
    min-height:100vh;
}
.bottm{
  bottom: 8px;
}
a.disabled {
  color: gray;
  cursor: none;
  background-color: #6c757d;
  border-color: #6c757d;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-outline-primary {
  color: #007bff;
  display: inline-block;
  font-weight: 400;
  /* color: #212529; */
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-color: #007bff;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.referred-btn:hover {
  color: rgb(40, 67, 190);
  /* background-color: rgb(41, 39, 39);
  border-color: rgb(41, 39, 39); */
}
.sb-text {
  font-weight: bold;
}
.lengMax{
  min-width:450px; 
}
.lengMin{
  min-width:350px; 
}
.lengExtraMax{
  min-width:520px; 
}
.lengSmall{
  min-width:300px; 
}