<div class="modal-contents modal">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Add Doctor</h4>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <!-- error handler -->
      <div class="alert alert-danger" style="margin-bottom: 0%;" role="alert" *ngIf="error">
        <h5 class="alert-heading text-center">Error!</h5>
        <p class="mb-0 text-center">{{error}}</p>
      </div>
      <!-- handler end -->
      <form class="bootstrap-form needs-validation" (ngSubmit)="onSubmitNPI(npiForm.value)" [formGroup]="npiForm">
        <input type="hidden" id="signonsecurity" name="signonsecurity" value="5d290bdd97" />
        <input type="hidden" name="_wp_http_referer" value="" />
        <br>
        <div class="form-group">
          <label for="NPI" class="text-uppercase text-primary">National Provoder Identifier (NPI)<span class="required-field"></span></label>
          <input type="text" id="NPI" maxlength="10" placeholder="Enter National Provoder Identifier (NPI)" formControlName="npi" class="form-control" name="NPI" />
          <small class="text-danger text-center"
            *ngIf="npiForm.controls['npi'].hasError('required') && (npiForm.controls['npi'].dirty || npiForm.controls['npi'].touched)">This
            field is required</small>
          <small class="text-danger text-center"
            *ngIf="npiForm.controls['npi'].hasError('pattern') && (npiForm.controls['npi'].dirty || npiForm.controls['npi'].touched)">Accept
            only
            numeric
            value & NPI
            Number must be only 10 digit.</small>
        </div>
        <div class="p-3 mt-4">
          <button type="submit"
            class="btn btn-primary btn-lg btn-block">Continue</button>
        </div>
      </form>
    </div>
  </div>