.cursr{
    cursor: pointer;
}
.ng-select.customSpeciality ::ng-deep .ng-select-container {
    border: 1px solid #f0e9ff;
  }
  
  .ng-select.custom2 ::ng-deep .ng-select-container {
    border: 1px solid #f0e9ff;
    cursor: default;
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 8px;
    font-size: 13px;
  }

  .ng-select.ng-select-single.custom ::ng-deep .ng-select-container {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    padding-right: 5px;
  }
  .ng-select.ng-select-single.custom ::ng-deep .ng-select-container .ng-value-container .ng-input {
    /* top: 5px; */
    left: 0;
    padding-left: 18px;
    padding-right: 50px
  }
  .ng-select.custom ::ng-deep .ng-select-container .ng-value-container {
    align-items: center;
    padding-left: 0px;
  }
  .ng-select.ng-select-single.custom ::ng-deep .ng-value-container .ng-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* margin-left: -10px; */
  }
  .ng-select.custom ::ng-deep .ng-clear-wrapper {
    margin-top: 3px;
  }
  .ng-select.customSpeciality ::ng-deep .ng-clear-wrapper {
    margin-top: 3.5px;
  }
  .dis{
  border: 1px solid #999999;
  background-color: #cccccc;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  text-transform: none;
  transition: none;
}